body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feed-title{
    font-weight: bold;
}

.flex-wrap{
    display: flex;
    flex-direction: row;
}

.flex-10{
    flex:10;
}
.flex-90{
    flex: 90;
}
.error{
    text-align: center;
    width: 100%;
    background: #fdfdfd;
    padding: 40px;
}
.tab-content{
    padding-bottom: 50px;
}

.loading{
    margin: 10px auto;
    padding: 10px;
    height: 100px;
    text-align: center;
}